.container {
  max-width: 85rem;
  margin: 5rem auto;
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem 0 0;
    gap: 1rem;

    .card {
      margin-bottom: 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .card__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem;
        flex: 1;

        .card__content {
          margin-bottom: 1.5rem;
        }
        h3 {
          font-size: 1.2rem;
          margin: 0 0 0.5rem;
        }
        p {
          font-size: 0.9rem;
          color: rgba(0, 0, 0, 0.6);
        }

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-size: 0.8rem;
            color: #0f5f43;
            background: #6af1c2;
            padding: 3px 10px;
            font-weight: 600;
            border-radius: 2px;
          }
        }

        button {
          border: none;
          background: #171818;
          padding: 0.7rem 1.5rem;
          font-size: 0.9rem;
          font-weight: 500;
          border-radius: 2px;
          color: white;
          width: 100%;
          float: inline-end;
        }
      }
    }
  }
}
